{
  "name": "smj-lms",
  "main": "src/index.ts",
  "compatibility_date": "2025-01-28",
  "compatibility_flags": ["nodejs_compat"],
  "assets": {
    "binding": "ASSETS",
    "directory": "./public"
  },
  "vars": {
    "ENVIRONMENT": "development",
    "ADMIN_PASSWORD": "your_admin_password_here"
  },
  "d1_databases": [
    {
      "binding": "DB",
      "database_name": "smj-lms-db",
              "database_id": "your_database_id_here"
    }
  ]
} 